# Local dev : PartyKit tourne en local sur 1999
NEXT_PUBLIC_PARTYKIT_HOST=localhost:1999

# Prod : remplacer par ton domaine PartyKit deploy
# NEXT_PUBLIC_PARTYKIT_HOST=pokrr.<ton-compte>.partykit.dev
